<footer class="sms-footer sms-bg-dark sms-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <div class="sms-footer-widget mb-5">
                    <h2 class="sms-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="fa fa-map-marker"></span>&nbsp;<span class="text">843 Fairbanks Ave.
                                    Newark, Ohio,
                                    USA</span></li>
                            <li><a href="tel:+17404051633"><span class="fa fa-phone"></span>&nbsp;<span class="text">+1
                                        740 405 1633</span></a></li>
                            <li><a href="mailto:info@suremarketingsolutions.com"><span
                                        class="fa fa-envelope"></span>&nbsp;<span
                                        class="text">info@suremarketingsolutions.com</span></a>
                            </li>
                        </ul>
                    </div>
                    <ul class="sms-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class=""><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class=""><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class=""><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="sms-footer-widget mb-5 ml-md-4">
                    <h2 class="sms-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="home"><span class="fa fa-chevron-circle-right mr-2"></span>Home</a></li>
                        <li><a routerLink="team"><span class="fa fa-chevron-circle-right mr-2"></span>About</a></li>
                        <li><a routerLink="services"><span class="fa fa-chevron-circle-right mr-2"></span>Services</a>
                        </li>
                        <!-- <li><a routerLink="#"><span class="fa fa-chevron-circle-right mr-2"></span>Projects</a></li> -->
                        <li><a routerLink="contact"><span class="fa fa-chevron-circle-right mr-2"></span>Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="sms-footer-widget mb-5">
                    <h2 class="sms-heading-2">Recent Blog</h2>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(assets/images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="fa fa-calendar"></span> Oct. 16, 2019</a></div>
                                <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                                <div><a href="#"><span class="fa fa-comments"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-5 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(assets/images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="fa fa-calendar"></span> Oct. 16, 2019</a></div>
                                <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                                <div><a href="#"><span class="fa fa-comments"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="sms-footer-widget mb-5">
                    <h2 class="sms-heading-2">Subscribe!</h2>
                    <form action="#" class="subscribe-form">
                        <div class="form-group">
                            <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="form-control submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    &copy;
                    2020 Sure Marketing Solutions All rights reserved<br> <small> This website is made with&nbsp;<i
                            class="fa fa-heart text-danger" aria-hidden="true"></i>&nbsp;by Sure Marketing Solutions</small>
                </p>
            </div>
        </div>
    </div>
</footer>