<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_1.jpg');" parallax [ratio]=".05">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Contact</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="home">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span class="text-primary text-bold">Contact </span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info justify-content-center">
            <div class="col-md-10">
                <div class="row mb-5">
                    <div class="col-md-4 text-center d-flex">
                        <div class="border w-100 p-4">
                            <div class="icon">
                                <span class="icon-map-o"></span>
                            </div>
                            <p><span>Address:</span> 843 Fairbanks Avenue, Newark Ohio 43055</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center d-flex">
                        <div class="border w-100 p-4">
                            <div class="icon">
                                <span class="icon-tablet"></span>
                            </div>
                            <p><span>Phone:</span> <a href="tel://7404051633">Call us: + 740 405 1633</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center d-flex">
                        <div class="border w-100 p-4">
                            <div class="icon">
                                <span class="icon-envelope-o"></span>
                            </div>
                            <p><span>Email:</span> <a href="mailto:info@suremarketingsolutions.com">info@suremarketingsolutions.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row block-9 justify-content-center mb-5">
            <div class="col-md-10 mb-md-5">
                <h2 class="text-center">If you have any questions <br>please do not hesitate to send us a message</h2>
                <form #contactForm="ngForm" name="contactForm" class="border p-5 contact-form">
                    <div class="form-group">
                        <input name="firstName" id="firstName" #firstName="ngModel" [(ngModel)]="contactModel.firstName" type="text" class="form-control"
                            placeholder=" First Name" required>
                            <p class="text-warning" *ngIf="firstName.errors">Please provide a valid first name</p>
                    </div>
                    <div class="form-group">
                        <input name="lastName" id="lastName" #lastName="ngModel" [(ngModel)]="contactModel.lastName" type="text" class="form-control"
                            placeholder=" Last Name" required>
                            <p class="text-warning" *ngIf="lastName.errors">Please provide a valid last name</p>
                    </div>
                    <div class="form-group">
                        <input name="phone" id="phone" #phone="ngModel" [(ngModel)]="contactModel.phone" type="phone" class="form-control"
                            placeholder=" Phone Number" required>
                            <p class="text-warning" *ngIf="phone.errors">Please provide a valid phone number</p>
                            <!-- <button class="input-group-append btn" style="border-radius: 2px;" (click)="toggleCanCall()" [ngClass]="canCall ? 'btn-success':'btn-danger'"><i [ngClass]="canCall ? 'fa-check':'fa-hand-stop-o'" class="fa"></i>&nbsp; {{canCall ? 'Please ': 'Don\'t ' }}Call me </button> -->
                    </div>
                    <div class="form-group ml-5">
                        <label class="form-check-label">
                            <input class="form-check-input" [(ngModel)]="contactModel.canCall" type="checkbox" name="canCall" id="canCall" value="true">I give Sure Marketing Solutions permission to call me at the above phone number.
                        </label>
                    </div>
                    <div class="form-group">
                        <input name="email" id="email" #email="ngModel" [(ngModel)]="contactModel.email" type="email"
                            class="form-control" placeholder=" Email" required>
                            <p class="text-warning" *ngIf="email.errors">Please provide a valid email</p>
                    </div>
                    <div class="form-group">
                        <div class="form-field">
                            <div class="select-wrap">
                                <!-- <div class="icon"><span class="fa fa-chevron-down"></span></div> -->
                                <select [(ngModel)]="contactModel.topic" name="consultation" id="consultation" class="form-control" required>
                                    <option class="">Select Topic</option>
                                    <option *ngFor="let topic of contactTopics" class="" [value]="topic">{{topic}}</option>
                    
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="subject" id="subject" #subject="ngModel" [(ngModel)]="contactModel.subject" type="text"
                            class="form-control" placeholder="Subject" required>
                            <p class="text-warning" *ngIf="subject.errors">Please provide a subject</p>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="message" #message="ngModel" [(ngModel)]="contactModel.message" cols="30" rows="7"
                            class="form-control" placeholder="Message" required></textarea>
                            <p class="text-warning" *ngIf="message.errors">Please provide a message</p>
                    </div>
                    <div class="form-group">
                        <button (click)="addNewContact(contactModel)"
                            class="btn btn-primary py-3 px-5" [disabled]="contactForm.errors || contactForm.invalid"><i class="fa fa-paper-plane"></i> Send</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<section class="overflow-hidden ftco-no-pb ftco-no-pt">
    <div class="row">
        <div class="container">
            <h2 class="text-center">Our Neighborhood</h2>
            <h5 class="text-center">We are not currently taking walk-ins. However, we have plans to open a central office to better serve our clients.</h5>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <google-map id="map" width="100%" (mapClick)="mapClicked($event)" [center]="center" [mapTypeId]="'hybrid'" class="w-100">
                    <map-info-window>{{ infoContent }}</map-info-window>
                    <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
                        [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, '843 Fairbanks Avenue, Newark Ohio 43055')">
                    </map-marker>
                </google-map>
            </div>
        </div>
    </div>
</section>