<button [disabled]="showChat" [hidden]="showChat" class="sms-animated btn-secondary btn text-primary btn-lg mr-5 mb-0"
    style="position: fixed; z-index: 15; bottom: 0; right: 50px;border-radius: 5px 5px 0 0;height: 52px;"
    data-aos="fade-up" (click)="openChat()">Live Chat
    <span class="fa fa-comments-o"></span></button>
<div class="sms-live-chat-wrapper" [hidden]="!showChat">
    <div class="col-md-3 px-0 ml-auto live-chat-inner">
        <div class="px-1 chat-box bg-light shadow-lg border-dark" [ngClass]="chatCollapsed ? 'collapsed': ''">
            <div class="row bg-primary text-secondary px-2 mb-2 chat-wrapper-header sticky-top"
                style="z-index: 2000; margin-left: -1rem; margin-right: -1rem;">
                <h3 class="col-9"><span class="chat-icon fa fa-comments"></span> Live Chat</h3>
                <button class="col pull-right btn btn-small rounded-circle" (click)="collapseChat()"><span class="fa"
                        [ngClass]="chatCollapsed ? 'fa-chevron-up': 'fa-minus pt-3 pb-0'"></span>
                </button>
                <button *ngIf="!chatCollapsed" class="col pull-right btn btn-small rounded-circle"
                    (click)="closeChat()"><span class="fa fa-close"></span>
                </button>
            </div>
            <div #currentThread *ngFor="let chat of chatThread.messages; let i = index;">
                <!-- Support Message-->
                <div class="media mb-3" *ngIf="chat.type === 'support'">
                    <img [src]="'assets/images/icon-chat-bot.png'" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-3">
                        <div class="bg-light rounded py-2 px-3 mb-2">
                            <div *ngIf="chat.body" [innerHTML]="chat.body | safeHtml"></div>
                            <p class="text-small mb-0 text-muted input-wrap">{{chat.text}}</p>
                        </div>
                        <p class="small text-muted">{{chat.timestamp | date: 'shortTime'}} |
                            {{chat.timestamp | date: 'LLL LL'}}</p>
                    </div>
                </div>

                <!-- User Message-->
                <div class="media w-75 ml-auto mb-3" *ngIf="chat.type === 'user'">
                    <div class="media-body mr-1">
                        <div class="bg-primary rounded py-2 px-3 mb-2">
                            <div *ngIf="chat.body" [innerHTML]="chat.body | safeHtml"></div>
                            <p class="text-small mb-0 text-white input-wrap">{{chat.text}}</p>
                        </div>
                        <p class="small text-muted">{{chat.timestamp | date: 'shortTime'}} |
                            {{chat.timestamp | date: 'LLL LL'}}</p>
                    </div>
                </div>
            </div>
            <div class="media w-75 mb-3" [hidden]="!isTyping">
                <img [src]="'assets/images/icon-chat-bot.png'" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-3">
                    <div class="py-2 px-3 mb-2">
                        <img width="100" src="assets/images/typing-loader.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Typing area -->
        <form class="border-top border-secondary">
            <div class="input-group bg-light shadow-lg">
                <input [(ngModel)]="userMessage.value" (keydown.enter)="sendMessage(userMessage.value)" type="text"
                    placeholder="Type a message" name="message" id="message" aria-describedby="button-addon2"
                    class="form-control rounded-0 border-0 py-4">
                <div class="input-group-append">
                    <button id="button-addon2" type="button" class="btn btn-link"
                        (click)="sendMessage(userMessage.value)"> <i class="fa fa-paper-plane"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>